@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* Custom styling for inputs */
.input-field {
  @apply w-full outline-none px-2 text-gray-700;
}

/* Border & padding for input containers */
.input-container {
  @apply flex items-center border border-gray-300 rounded-lg px-3 py-2;
}

/* Full-width button */
.full-button {
  @apply w-full bg-black text-white py-2 rounded-lg hover:opacity-90 transition;
}

/* Centered form */
.form-container {
  @apply flex min-h-screen items-center justify-center bg-gray-100 px-6;
}
